html{
    background-color: whitesmoke;
  }
  
  #title{
    background-color: #ff6f61;
    
  }
  .container-radio{
    text-align: center;
    padding-top: 40px;
  }
  label{
    margin-left: 5px;
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    line-height: 1.5;
    color: black;
  }
  
  .icon{
    margin-right: 10px;
  }
  
  .navbar-brand:hover{
    color: black;
  }
  
  .nav-link{
    color: black;
  }
  
  .nav-link:hover{
    color: whitesmoke;
  }
  
  .icon{
    padding-top: 5px;
  }
  
  .nav-item {
    font-size: 1.2rem;
  }
  
  .navbar-nav {
    margin-right: 20px;
  }
  .container-fluid {
    padding: 1% 10%;
  }
  
  #introduction{
    text-align: left;
    color: black;
    background-color: whitesmoke;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }
  
  .intro-container{
    padding: 8% 0;
  }
  
  h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .control {
    background-color: transparent;
    border-color: transparent;
  }
  
  .control:hover {
    border-color: transparent;
  }
  
  #cards{
    background-color: whitesmoke;
  }
  
  .cards-container{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .cards-text{
    color: grey;
  
  }
  
  .algo-name{
    margin-bottom: 50px;
  }
  .try-now-btn{
    border-color: #ff6f61;
    color: #ff6f61;
  }
  
  .try-now-btn:hover{
    border-color: #ff6f61;
    background-color: #ff6f61;
  }
  
  .try-now{
    text-decoration: none;
  }
  
  #footer{
    padding: 5%;
    text-align: center;
    background-color: #ff6f61;
  }
  
  #introduction-carousel{
    height: 200px;
  }
  #algorithms{
    background-color: whitesmoke;
  }
  
  #algo-title {
    text-align: center;
  }

  .subtitle {
    text-decoration: underline;
  }
