.Row
    {

    display: table;
    width: 80%;
    color: white;
    border-spacing: 20px;
    position: relative;
    top: 15%;
    left: 10%;
    margin-top: -50px;
    margin-left: -40px;
    }
.Column
{
    display: table-cell;
    color: white;
}
